////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Modules Import /////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "animations";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Std Class Overrides ////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// https://stackoverflow.com/a/58290951/11098871
// for viewport scrolling
// the root html element must be scrollable for js.window.scrollTo() to work.
html {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

body {
  width: 100%;
  height: auto;
}

a:link, a:visited {
  color: #FDF9EF;
}

strong {
  color: #FDF9EF !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Custom Classes /////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// fonts ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* https://developers.google.com/fonts/docs/css2 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700');
$family-primary: "Roboto", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,300;1,400;1,700');
$family-secondary: "Roboto Serif", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// colors //////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-transparent-text {
  color: transparent;
}

.has-black {
  background-color: #2B2B2B;
  color: #FDF9EF;
}

.has-sky-blue-text {
  color: #3D92CA !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// spacing /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-head-space {
  margin-top: 150px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// borders /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.is-navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 64px;
  z-index: 101;
  // blend in
  background-color: #2B2B2B;
}

.is-hiw {
  height: 676px;
  border: 2px solid #FDF9EF;
  border-radius: 16px;
}

.is-collection {
  background-color: #FDF9EF;
  color: #2B2B2B;
  border-radius: 16px;
}

.is-upload {
  border: 2px solid #FDF9EF;
  border-radius: 16px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// buttons /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.is-button-1 {
  width: 100%;
  background-color: #2B2B2B;
  color: #FDF9EF;
  border-radius: 12px;
}

.is-button-1:hover {
  background-color: #FDF9EF;
  color: #2B2B2B;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// images //////////////////////////////////////////////////////////////////////////////////////////////////////////////
.is-image-container-1 {
  overflow: hidden;
  border-radius: 12px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// text containers /////////////////////////////////////////////////////////////////////////////////////////////////////
.is-text-container-1, .is-text-container-1-mobile, .is-text-container-2, .is-text-container-2-mobile,
.is-text-container-3, .is-text-container-3-mobile, .is-text-container-4, .is-text-container-4-mobile,
.is-text-container-5, .is-text-container-5-mobile, .is-text-container-6, .is-text-container-6-mobile,
.is-text-container-7, .is-text-container-7-mobile {
  font-weight: 700;
}

.is-light-text-container-4-mobile, .is-light-text-container-5-mobile, .is-light-text-container-6-mobile,
.is-light-text-container-7-mobile {
  font-weight: 300;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Variable Overrides ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// sizes
$size-1: 64px;
$size-2: 48px;
$size-3: 32px;
$size-4: 24px;
$size-5: 16px;
$size-6: 14px;
$size-7: 12px;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Import ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "node_modules/bulma/bulma";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Extensions ///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.input {
  height: 100px;
  text-align: center;
  border-radius: 100px;
  box-sizing: border-box;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// spacing /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.my-0-mobile {
  @include until($tablet) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.my-1-mobile {
  @include until($tablet) {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
}

.mt-1-mobile {
  @include until($tablet) {
    margin-top: 0.25rem !important;
    margin-bottom: 0 !important;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// buttons /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.is-button-1 {
  @include until($tablet) {
    height: 32px;
  }
  @include from($tablet) {
    height: 56px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// text containers /////////////////////////////////////////////////////////////////////////////////////////////////////
.is-text-container-1 {
  @include from($tablet) {
    line-height: 75px;
  }
}

.is-text-container-1-mobile {
  @include until($tablet) {
    line-height: 75px;
  }
}

.is-text-container-2 {
  @include from($tablet) {
    line-height: 56px;
  }
}

.is-text-container-2-mobile {
  @include until($tablet) {
    line-height: 56px;
  }
}

.is-text-container-3 {
  @include from($tablet) {
    line-height: 38px;
  }
}

.is-text-container-3-mobile {
  @include until($tablet) {
    line-height: 38px;
  }
}

.is-text-container-4, .is-light-text-container-4 {
  @include from($tablet) {
    line-height: 28px;
  }
}

.is-text-container-4-mobile, .is-light-text-container-4-mobile {
  @include until($tablet) {
    line-height: 28px;
  }
}

.is-text-container-5, .is-light-text-container-5 {
  @include from($tablet) {
    line-height: 18.75px;
  }
}

.is-text-container-5-mobile, .is-light-text-container-5-mobile {
  @include until($tablet) {
    line-height: 18.75px;
  }
}

.is-text-container-6, .is-light-text-container-6 {
  @include from($tablet) {
    line-height: 16px;
  }
}

.is-text-container-6-mobile, .is-light-text-container-6-mobile {
  @include until($tablet) {
    line-height: 16px;
  }
}

.is-text-container-7, .is-light-text-container-7 {
  @include from($tablet) {
    line-height: 14px;
  }
}

.is-text-container-7-mobile, .is-light-text-container-7-mobile {
  @include until($tablet) {
    line-height: 14px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// borders /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.is-collection, .is-upload {
  @include until($tablet) {
    height: 183px;
  }
  @include from($tablet) {
    height: 405px;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// images //////////////////////////////////////////////////////////////////////////////////////////////////////////////
.is-image-container-1 {
  @include until($tablet) {
    height: 87px;
  }
  @include from($tablet) {
    height: 227px;
  }
}
